
body{
    font-size: 100%;
    }

.div_login {
    text-align: center;  
    height: 100vh;
    padding: 1rem;
    font-size: 100%;
    background-image: url(https://static3.abc.es/media/sociedad/2018/11/29/juntos2-kclB--620x349@abc.jpg);



}

 